<%- include('../layout/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/adminStyles/adminSignIn.css" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class='ms-5 me-5' style='margin-top: 150px;'>
    <%- include('../layout/adminNav.ejs') %>

<img src="https://res.cloudinary.com/dprjb18ng/image/upload/v1681611918/uploads/aldlqiuioqeikz8fegnf.png" alt="Your image" />

  <!-- Create a canvas element where you want to draw the chart -->
  <div class=' d-flex gap-5 align-items-start' style='height: 80vh; width: 80vw;'>
    <div class='w-100 d-flex flex-column gap-5'>
      <div class=' d-flex justify-content-center flex-column align-items-center'>
        <h6>Monthly report</h6>
        <canvas class="myChart"></canvas>
      </div>
      
      <div class='d-flex justify-content-center flex-column align-items-center'>
        <h6>Category Sales</h6>
        <canvas class="categorySales"></canvas>
      </div>
  
    </div>
    <div class='w-100 d-flex flex-column gap-5'>
      <div class='d-flex justify-content-center flex-column align-items-center'>
        <h6>Subcategory Sales</h6>
        <canvas class="subcategorySales"></canvas>
      </div>
      <div class='d-flex justify-content-center flex-column align-items-center'>
        <h6>Subcategory Sales</h6>
        <canvas class="subcategorySales2"></canvas>
      </div>
    </div>

  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
  <script src="/javascripts/admin/home.js"></script>
</body>
</html>
</body>
</html>