<%- include('../layout/header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/adminStyles/adminSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/adminStyles/category.css" type="text/css">

  </head>

  <body class="d-flex flex-column align-items-center">
    <%- include('../layout/adminNav.ejs') %>

      <div class="d-flex topMargin w-75 flex-column justify-content-center gap-4">
        <h3 class="mt-5">Edit subcategory</h3>
          <b class="errorMessage" style="color: rgb(160, 22, 22);"></b>
          <b class="successMessage" style="color: rgb(16, 158, 16);"></b>
          <div>
            <div class="mb-3">
              <label class="form-label">Subategory name</label>
              <input id="categoryName" value="<%= subcategory.name %>" type="text" class="form-control"
                name="subcategoryName" required>
            </div>
            <p style="color: rgb(164, 17, 17);" class="" id="categoryError"></p>
            <button data-value="<%= subcategory._id %>" class="btn editBtn w-25">Edit category</button>
          </div>
        <script src="/javascripts/admin/subcategoryEdit.js"></script>


      </div>
  </body>

  </html>