<%- include('../layout/header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/adminStyles/adminSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/adminStyles/category.css" type="text/css">

  </head>

  <body class="d-flex flex-column align-items-center">
    <%- include('../layout/adminNav.ejs') %>

      <div class="d-flex topMargin w-75 flex-column justify-content-center gap-4">
        <h3 class="mt-5">Add a new subcategory</h3>
        <!-- Form to add category -->
        <form id="categoryForm" method="POST" action="/admin/category/subcategory/add">
          <div class="mb-3">
            <label class="form-label">Subcategory name</label>
            <input id="categoryName" type="text" class="form-control" name="subcategoryName" required>
          </div>
          <p class="" id="categoryError"></p>
          <button type="submit" class="btn editBtn">Add subcategory</button>
        </form>
      </div>
  </body>
  <script src="/javascripts/admin/subcategoryEdit.js"></script>

  </html>