<%- include('../layout/header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/categoryBar.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/home.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/wishlist.css" type="text/css">

  </head>

  <body class="d-flex flex-column w-100 align-items-center">
    <%- include('../layout/nav.ejs') %>
        <div class="d-flex flex-column align-items-center mb-5" style='margin-top: 100px;'>
          <h3 class="m-0 bg-info">My orders</h3>
          <img src="" alt="">
          <div class="underLine"></div>
          <img style='width: 300px;' class="girl" src="../../public/images/reusables/Wishlist is empty.png" alt="">

        </div>

  </body>
  <script src="/javascripts/user/wishlist.js"></script>

  </html>