<%- include('./layout/header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/categoryBar.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/home.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/wishlist.css" type="text/css">

  </head>

  <body>
    <%- include('./layout/nav.ejs') %>

        <div class="d-flex flex-column align-items-center mb-5 marginTop">
          <h3 class="m-0">Something went wrong</h3>
          <div class="underLine"></div>
        </div>
        <div class=" d-flex justify-content-center flex-column align-items-center gap-3">
          <h5 style="color: rgb(186, 31, 31);">Error: <%= locals.message  %></h5>
          <img class="girl" src="/images/reusables/error3.png" alt="">
          <div>
           <a href="<%= locals.previousPage  %>"> <button style=" border: none; border-radius: 5px; background-color: #d1e4be; height: 40px; color: rgb(62, 107, 22); width: auto; box-shadow: 1px 1px 5px black;">Previous page</button></a>
          </div>
        </div>

  </body>
  <script src="/javascripts/user/wishlist.js"></script>

  </html>