<%- include('../layout/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/userStyles/otpStyle.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/userStyles/otpSuccess.css" type="text/css">
    </head>

    <body>
        <%- include('../layout/nav.ejs') %>
            <div class="body topMargin signin">
                <div class="loginArea w-50">
                    <div class="welcomeDiv w-100">
                        <img class="logoWelcome" src="https://res.cloudinary.com/dprjb18ng/image/upload/v1681737615/reusables/Orange_Simple_Online_Shopping_Logo_ywglaj.png" alt="">
                        <% if(locals.name) { %>
                            <b>
                                <%=locals.name || "" %>
                            </b>
                            <% } %>
                                <%= locals.message || '' %>
                    </div>
                    <div class="logInButtonArea">
                        <a href="signin"><button class="logInButton"><span
                                    class="buttonText">Continue</span></button></a>
                    </div>
                </div>

            </div>
            <script src="/validation/otp.js"></script>

    </body>

    </html>