<%- include('../layout/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/userStyles/otpStyle.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/userStyles/otpVerificationForgotPassword.css" type="text/css">

</head>

<body>
    <%- include('../layout/nav.ejs') %>
    <div class="d-flex align-items-center justify-content-center otpBody">
        <form class="d-flex align-items-center flex-column gap-3" method="post">
            <div class="welcomeDiv">
                <img class="logoWelcome" src="/images/reusables/Orange Simple Online Shopping Logo.png" alt="">
                <span class="h4">Enter OTP to verify your email</span>
            </div>
            <div class="email">
                <input id="otp" name="otpEntered" required class="emailInput" type="text">
                <p id="otp-error"></p>
            </div>
            <div class="d-flex flex-column gap-2">
                <button class="logInButton"><span class="buttonText">Continue</span></button>
                <span id="timerArea" class="d-flex align-items-center gap-1  justify-content-center">
                    <span>Resend otp in, </span>
                    <span id="timer" class="d-flex h6 m-0 align-items-center"></span>
                </span>
                <div id="resend" class="d-none gap-2 d-flex justify-content-center">
                        <a href="/user/resend-otp" class="">
                            <span>Resend OTP?</span>
                        </a>
                </div>
                
            </div>
            <h6 style="color: rgb(204, 59, 30)" id="error" class="mt-2">
                <% if(locals.message){ %> 
                    <span >  <%= locals.message  || '' %> </span>
                <% } %> 
            </h6>
        </form>
    </div>
    <script src="/validation/otp.js"></script>
    
</body>
 
</html>