<%- include('../layout/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/userStyles/categoryBar.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/userStyles/home.css" type="text/css">

    <a href="user/signIn" class="topMargin">sign in</a>
    <br>
    <a href="user/signUp">sign up</a>
    <br>
    <a href="admin/signIn">Admin signIn</a>
</body>
</html>