<%- include('../layout/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/userStyles/userSignUp.css" type="text/css">
    </head>

    <body>
        <%- include('../layout/nav.ejs') %>
            <div class="body">
                <form class="loginArea" method="post">
                    <div class="welcomeDiv">
                        <img class="logoWelcome" src="/images/reusables/Orange Simple Online Shopping Logo.png" alt="">
                        <span class="welcomeMessage">Sign up, to start shopping</span>
                        <h6 style="margin-top: 20px;">
                            <% if(locals.success == true){ %>
                                <span style="color: rgb(96, 156, 96)"> Registration complelted succesfully fot the user
                                    <b>
                                        <%= locals.username %>
                                    </b>, Now you can <a href="/signin">Log in</a> </span>
                                <% } else { %>
                                    <span style="color: rgb(195, 44, 21)">
                                        <%= locals.message %>
                                    </span>
                                    <% } %>
                        </h6>
                    </div>
                    <div class="email">
                        <span class="emailHead">Name</span>
                        <input type="text" id="name" name="name" required class="emailInput">
                        <p id="name-error"></p>
                    </div>
                    <div class="email">
                        <span class="emailHead">Email</span>
                        <input type="email" id="email" name="email" required class="emailInput">
                        <p id="email-error"></p>
                    </div>
                    <div class="email">
                        <span class="emailHead">Phone number</span>
                        <input type="text" id="phone" name="phone" required class="emailInput">
                        <div class="d-flex justify-content-between w-100">
                            <p id="phoneNumber-error"></p>
                        </div>
                    </div>
                    <div class="email">
                        <label class="emailHead" for="gender">Gender</label>
                        <select class="emailInput" id="gender" name="gender" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="email">
                        <span class="emailHead">Password</span>
                        <input type="password" id="password" name="password" required class="emailInput">
                        <div class="d-flex justify-content-between w-100">
                            <p id="password-error"></p>
                        </div>
                    </div>
                    <div class="email">
                        <span class="emailHead">Confirm password</span>
                        <input type="password" id="password_confirmation" required class="emailInput">
                        <div class="d-flex justify-content-between w-100">
                            <p id="confirm-password-error"></p>
                        </div>
                    </div>
                    <input class="d-none" type="text" name="is_admin" value="0">
                    <div class="logInButtonArea">
                        <button class="logInButton"><span class="buttonText">Sign up</span></button>
                        <h6 style="color: rgb(204, 59, 30)" id="error" class="mt-2">
                        </h6>
                    </div>
                   
                </form>
            </div>
            <script src="/validation/signUp.js"></script>

    </body>

    </html>