<%- include('../layout/header.ejs') %>
  </head>
  <%- include('../layout/nav.ejs') %>
      <body class="d-flex align-items-center flex-column marginTop container-fluid gap-4">
          <div class="d-flex col-6 flex-column align-items-center">
            <h3 class="m-0">Wallet</h3>
            <div class="underLine"></div>
          </div>
        

      </body>

      </html>