.welcomeMessage {
  font-size: 20px;
}

a:link {
  color: #5B9208;
}

a:visited {
  color: #5B9208;
}

body {
  background-color: #E8F5D5;
}

.account {
  width: auto;
}

.active {
  color: #5B9208;
}

.inactive {
  color: #927608;
}