.welcomeMessage {
  font-size: 20px;
}

a:link {
  color: #5B9208;
}

a:visited {
  color: #5B9208;
}

body {
  background-color: #ffffff;
}

.account {
  width: auto;
}

.active {
  color: #5B9208;
}

.inactive {
  color: #927608;
}

.addCategoryBtn {
  background-color: rgb(37, 37, 37, 0.75);
  color: white;
}
.addCategoryBtn:hover {
  background-color: rgb(37, 37, 37);
  color: white;
}

.disableBtn {
  background-color: rgb(237, 121, 13, 0.75);
  color: white;
}

.disableBtn:hover {
  background-color: rgb(237, 121, 13);
  color: white;
}

.enableBtn {
  background-color: #52ae02bf;
  color: white;
}

.enableBtn:hover {
  background-color: rgba(82, 174, 2);
  color: white;
}

.editBtn {
  background-color: rgba(2, 82, 174, 0.75);
  color: white;
}

.editBtn:hover {
  background-color: rgba(2, 82, 174);
  color: white;
}

.whiteBtn:link {
  color: white;
}

.whiteBtn {
  color: white;
}

.whiteBtn:visited {
  color: white;
}

.topMargin {
  margin-top: 6%;
}
