<link
  rel="stylesheet"
  href="/stylesheets/userStyles/actionBar.css"
  type="text/css"
/>

<div class="mainBar grid grid-flow-col">
  <div class="flex justify-between items-center">
    <div data-value="a-z" class="sort">Sort by name a - z</div>
    <div class="separator"></div>
  </div>
  <div class="flex justify-between items-center">
    <div data-value="z-a" class="sort">Sort by name z - a</div>
    <div class="separator"></div>
  </div>
  <div class="flex justify-between items-center">
    <div data-value="highToLow" class="sort">Sort by price - High to low</div>
    <div class="separator"></div>
  </div>
  <div class="flex justify-between items-center">
    <div data-value="lowToHigh" class="sort">Sort by price - Low to high</div>
    <div class="separator"></div>
  </div>
  <div class="flex justify-between items-center">
    <input class="search" type="text" />
    <i class="fa-solid fa-magnifying-glass cursor-pointer"></i>
  </div>
</div>
