<link rel="stylesheet" href="/stylesheets/userStyles/actionBar.css" type="text/css">

<div class="mb-4 mainBar d-flex justify-content-center gap-5 p-2 ps-5 align-items-center">
  <span id="sortByNameAToZ" class="sort">Sort by name a - z</span>
  <div class="separator"></div>
  <span id="sortByNameZToA" class="sort">Sort by name z - a</span>
  <div class="separator"></div>
  <span id="sortByPriceHighToLow" class="sort">Sort by price - Low to High</span>
  <div class="separator"></div>
  <span id="sortByPriceLowToHigh" class="sort">Sort by price - High to low</span>
  <div class="separator"></div>
  <span id="default" class="sort">Default</span>
</div>