<nav class="d-flex">
  <div class="d-flex align-items-center gap-4">
      <div class="mt-0">
          <img class="logo" src="/images/reusables/Orange Simple Online Shopping Logo.png" alt="">
      </div>
      <div class="nav-items">
          <span>Home</span>
          <span>Products</span>
          <span>Users</span>
          <span>Category</span>
          <span>Payment</span>
          <span>Orders</span>
          <span>Report</span>
          <span>Coupon</span>
      </div>
  </div>
  <div class="nav-end">
      <div class="cart-wishlist">
          <i class="fa-solid fa-cart-shopping"></i>
          <i class="fa-regular fa-heart"></i>
      </div>
      <div class="account">
          <a href="signin"><span class="sign hover un">SIGN IN</span></a>
          <span class="userBackground">
              <i class="fa-regular fa-user"></i>
          </span>
      </div>
  </div>
</nav>