<nav class="d-flex justify-content-between fixed-top">
  <div class="d-flex align-items-center gap-4">
      <div class="mt-0">
          <img class="logo" src="/images/reusables/Orange Simple Online Shopping Logo.png" alt="">
      </div>
      <div class="nav-items">
          <span><a href="/admin/home">Home</a></span>
          <span><a href="/admin/products">Products</a></span>
          <span><a href="/admin/users">Users</a></span>
          <span><a href="/admin/category">Category</a></span>
          <span>Payment</span>
          <span>Orders</span>
          <span>Report</span>
          <span>Coupon</span>
      </div>
  </div>
  <div class="nav-end d-flex justify-content-end">
      <div class="account">  
          <a href="signin"><span class="sign hover un">
            <%= locals.name || 'Sign in'%>
          </span></a>
          <span class="userBackground">
              <i class="fa-regular fa-user"></i>
          </span>
      </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">
      <div class="d-flex align-items-center gap-4">
        <div class="mt-0">
            <img class="logo" src="/images/reusables/Orange Simple Online Shopping Logo.png" alt="">
        </div>
        <div class="nav-items">
            <span><a href="home">Home</a></span>
            <span><a href="products">Products</a></span>
            <span><a href="users">Users</a></span>
            <span><a href="category">Category</a></span>
            <span>Payment</span>
            <span>Orders</span>
            <span>Report</span>
            <span>Coupon</span>
        </div>
      </div>
      <div class="nav-end d-flex justify-content-end">
        <div class="account">  
            <a href="signin"><span class="sign hover un">
              <%= locals.userName || 'Sign in'%>
            </span></a>
            <span class="userBackground">
                <i class="fa-regular fa-user"></i>
            </span>
        </div>
      </div>
    </div>
  </nav>
   -->

<!-- the light version -->