<link rel="stylesheet" href="/stylesheets/userStyles/categoryBar.css" type="text/css">
<div class="category fixed-top background">
    <% categories.forEach((category)=> { %>
      <% if(category.isActive) { %>
        <span class='category' data-id="<%= category._id %>">
          <%= category.name %>
        </span>
      <% } %>
     <% }) %>
</div>