<!-- <link rel="stylesheet" href="/stylesheets/userStyles/categoryBar.css" type="text/css">
<div class="category fixed-top background">
  <span>Grocery</span>
  <span>Premium Fruits</span>
  <span>Home & Kitchen</span>
  <span>Electronics</span>
  <span>Beuty</span>
  <span>Jewellery</span>
  <span>Home Improvement</span>
  <span>Sports Toys & Luggage</span>
</div> -->