<link rel="stylesheet" href="/stylesheets/userStyles/nav.css" type="text/css" />

<nav class="navMade top-0 fixed px-2 h-16 rounded-b-2xl md:py-4">
  <!-- Left side -->
  <div class="flex items-center md:gap-6">
    <div class="w-3/12 md:p-2 lg:w-2/12">
     <a href="/user/home">
      <img
      src="https://res.cloudinary.com/dprjb18ng/image/upload/v1681737615/reusables/Orange_Simple_Online_Shopping_Logo_ywglaj.png"
      alt=""
    />
     </a>
    </div>
    <!-- home -->
    <a href="/user/home" class="items-end gap-1 justify-start hidden md:flex">
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined"> home </span>
        <span class="colorName lg:flex items-end hidden">Home</span>
      </div>
    </a>

    <!-- My order -->
    <a href="/user/orders" class="md:flex items-end gap-1 hidden">
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined"> orders </span>
        <span class="firstSpan colorName hidden lg:block">My orders</span>
      </div>
    </a>

    <!-- Wallet -->
    <a href="/user/wallet" class="md:flex items-end gap-1 hidden">
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined"> account_balance_wallet </span>
        <span class="firstSpan colorName hidden lg:block">Wallet</span>
      </div>
    </a>
  </div>

  <!-- Right Side -->
  <div class="flex justify-end gap-3 items-center">
    <!-- Dropdown -->
    <div
      id="dropdown"
      class="logoutDropdown hidden text-white flex-col items-start p-3 w-36"
    >
      <!-- Home tab -->
      <div class="flex items-center gap-1 justify-start w-full md:hidden">
        <a href="/user/home" class="flex items-end gap-1 justify-start">
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined"> home </span>
            <span class="firstSpan colorName flex items-end">Home</span>
          </div>
        </a>
      </div>
      <span class="inBetween md:hidden"></span>

      <!-- Cart tab -->
      <div class="flex items-center gap-1 justify-start w-full md:hidden">
        <a href="/user/cart">
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined"> shopping_cart </span>
            <span class="firstSpan colorName">Cart</span>
          </div>
        </a>
      </div>
      <span class="inBetween md:hidden"></span>

      <!-- Wishlist tab -->
      <div class="flex items-center gap-1 justify-start w-full md:hidden">
        <a href="/user/wishlist" class="flex items-end gap-1">
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined"> favorite </span>
            <span class="firstSpan colorName">Wishlist</span>
          </div>
        </a>
      </div>
      <span class="inBetween md:hidden"></span>

      <!-- My orders tab -->
      <div class="flex items-center gap-1 justify-start w-full md:hidden">
        <a href="/user/orders" class="flex items-end gap-1">
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined"> orders </span>
            <span class="firstSpan colorName">My orders</span>
          </div>
        </a>
      </div>
      <span class="inBetween md:hidden"></span>

      <!-- Wallet tab -->
      <div class="flex items-center gap-1 justify-start w-full md:hidden">
        <a href="/user/wallet" class="flex items-end gap-1">
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined">
              account_balance_wallet
            </span>
            <span class="firstSpan colorName">Wallet</span>
          </div>
        </a>
      </div>
      <span class="inBetween md:hidden"></span>

      <!-- Profile tab -->
      <div class="flex items-center gap-1 justify-start w-full">
        <a href="/user/profile" class="flex items-end gap-1">
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined"> person </span>
            <span class="firstSpan colorName">Profile</span>
          </div>
        </a>
      </div>
      <span class="inBetween"></span>

      <!-- Logout button -->
      <div class="flex items-center gap-1 justify-start w-full">
        <a href="/user/logout" class="flex items-end gap-1">
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined"> logout </span>
            <span class="logout">Logout</span>
          </div>
        </a>
      </div>
    </div>

    <!-- Cart tab -->
    <a href="/user/cart" class="hidden md:block">
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined"> shopping_cart </span>
        <span class="firstSpan colorName hidden lg:block">Cart</span>
      </div>
    </a>

    <!-- Wishlist tab -->
    <a href="/user/wishlist" class="md:flex items-end gap-1 hidden">
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined"> favorite </span>
        <span class="firstSpan colorName hidden lg:block">Wishlist</span>
      </div>
    </a>

    
    <!-- Profile picture -->
    <div class="w-2/12 lg:w-1/12 flex justify-center cursor-pointer"  onclick="toggleDropdown()">
      <img
      class="userImage  md:w-8/12 lg:w-9/12"
      src="https://res.cloudinary.com/dprjb18ng/image/upload/v1681737614/reusables/84537269_dd4vdw.png"
      alt=""
      />
    </div>
    <!-- User name -->
    <div class="hidden md:block cursor-pointer" style="margin-left: -10px;" onclick="toggleDropdown()"><%= locals.name %></div>
  </div>
</nav>

<script>
  function toggleDropdown() {

    const dropDownClassList = document.querySelector('#dropdown').classList
    
    if (dropDownClassList.contains('logoutDropdownShow')) {
      dropDownClassList.add('hidden')
    dropDownClassList.remove('flex')
      dropDownClassList.remove('logoutDropdownShow')
    } else {
      dropDownClassList.add('flex')
    dropDownClassList.remove('hidden')
      dropDownClassList.add('logoutDropdownShow')
    }
  }
</script>
