<nav class="d-flex container-fluid justify-content-between fixed-top background">
    <div class="d-flex align-items-center gap-4">
        <div class="mt-0">
            <img class="logo" src="/images/reusables/Orange Simple Online Shopping Logo.png" alt="">
        </div>
        <div class="nav-items">
            <span><a href="home">Home</a></span>
            <span>My orders</span>
            <span>Blog</span>
            <span>Contact us</span>
        </div>
    </div>
    <div class="nav-end d-flex">
        <div class="cart-wishlist d-flex">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-regular fa-heart"></i>
        </div>
        <div class="account d-flex">
            <a href="signin"><span class="sign hover un">
                <%= locals.name || 'Sign in'%>
              </span></a>
            <span class="userBackground">
                <i class="fa-regular fa-user"></i>
            </span>
        </div>
    </div>
</nav>
