<nav class="container-fluid bg-danger">
    <div class="row bg-info d-flex align-items-center justify-content-start gap-5">
        <div class="col-6">
            <div class="row bg-success d-flex w-100 flex-grow-1"> 
                <img class="col-2 img-fluid" src="/images/reusables/Orange Simple Online Shopping Logo.png" alt="">
                <span class="col-auto"><a href="home">Home</a></span>
                <span class="col-auto">My orders</span>
                <span class="col-auto">Blog</span>
                <span class="col-auto">Contact us</span>
            </div>
        </div>
    </div>
    <div class="col-3 bg-info">
        <span>account</span>
    </div>
</nav>
