<link rel="stylesheet" href="/stylesheets/userStyles/nav.css" type="text/css">

<nav class="fixed">
  <div class="flex p-2 md:px-6 justify-between w-full">
      <div class="w-2/12 md:w-1/12">
        <img class="img-fluid lg:w-6/12" src="https://res.cloudinary.com/dprjb18ng/image/upload/v1681737615/reusables/Orange_Simple_Online_Shopping_Logo_ywglaj.png" alt="">
      </div>
    <div class="flex gap-4 items-center">
    </div>
  </div>
</nav>