.category {
  position: absolute;
}

.marginTop {
  margin-top: 160px;
}

.headerRow {
  border-bottom: 1px solid rgb(211, 211, 211);
}

.buttonInc {
  background-color: #F5F5F5;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerRow span {
  font-weight: 700;
  font-size: 18px;
}

.continueShopping {
  background-color: #F5F5F5;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #6F6F6F;
  letter-spacing: 1px;
}

.continueShopping:link {
  color: #6F6F6F;
}

.continueShopping:visited {
  color: #6F6F6F;
}

.continueShopping:active {
  color: #6F6F6F;
}

.checkOutArea {
  background-color: #F5F5F5;

}