.marginTop {
  margin-top: 160px;
  margin-bottom: 160px;
}

.headerRow {
  border-bottom: 1px solid rgb(228, 228, 228);
}

.buttonIncrement, .buttonDecrement {
  background-color: #F5F5F5;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.headerRow span {
  font-weight: 700;
  font-size: 18px;
}

.continueShopping {
  background-color: #F5F5F5;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #6F6F6F;
  letter-spacing: 2px;
  padding: 10px;
}

.continueShopping:link {
  color: #6F6F6F;
}

.continueShopping:visited {
  color: #6F6F6F;
}

.continueShopping:active {
  color: #6F6F6F;
}

.checkOutArea {
  background-color: #F5F5F5;
width: 555px;
height: 257px;
left: 600px;
top: 97px;
}

.checkOutAreaRow {
  border-bottom: 1px solid rgb(228, 228, 228);
}

.checkoutButton, .checkoutButtonLink {
  color: white;
  height: 41px;
  border: none;
  letter-spacing: 1px;
}

.underLine {
  background-color: #7FAD39;
  height: 4px;
  width: 80px;
}

.formArea {
  height: auto;
  border-right: 1px solid rgb(228, 228, 228);
}

.discountArea {
  width: 578px;
  letter-spacing: 1px;
  background-color: #F5F5F5;
}

.discountInput {
  width: 300px;
}

.applyButton {
  background-color:  #6F6F6F;
  color: white;
  border: none;
  border-radius: 12px;
}

.productsDescription {
  border-top: 1px solid rgb(228, 228, 228);
}

.productName {
  color: #6F6F6F;
  font-weight: 400;
  font-size: 16px;
}

.totalArea {
  border-bottom: 1px solid rgb(228, 228, 228);
}

.logInButton {
  height: 30px;
  border-radius: 12px;
  background-color: rgb(127, 173, 57, 1);
}

.buttonText {
  color: white;
}

.checkoutButtonLink {
  background-color: #7ead3900;
}

.newButton {
  background-color: #7ead39de;
  border: none;
  height: 52px;
  border-radius: 12px;
  color: white;
  letter-spacing: 1px;
}

.newButton:hover {
  background-color: #7FAD39;
}

.quantity {
  text-align: center;
  padding: 10px;
}

.quantity-input {
  width: 50px;
  height: 35px;
  border: 1px solid rgb(185, 185, 185);
}

.walletInput[type="checkbox"] {
  height: 16px;
  width: 16px;
}