
.categoryGrid {
  height: 200px;
}

.categoryBar span {
  width: auto;
  font-style: normal;
  font-weight: 700;
  background: rgb(232, 245, 213);

  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #5b9208;
}

.categoryGrid span {
  width: auto;
}

.background {
  background-color: rgba(
    232,
    245,
    213,
    0.5
  ); 
  backdrop-filter: blur(10px) brightness(120%);
}
