.card{
  background-color: #f3fbf4;
  border: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px ;
  box-shadow: 1px 1px 5px rgb(134, 134, 134);
}

.productImg {
  width:200px;
  height: auto;
  transition: transform 0.5s ease;
}

.productImg:hover {
  transform: scale(1.05);
}

.imageDiv {
  border-bottom: 1px solid rgb(200, 199, 199);
}

body {
  margin-bottom: 100px;
}

.rupeeSymbol {
  font-size: 18px;
  font-weight: 700;
}

.cardBottom {
  border-radius: 5px;
  color: #5B9208;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 1px 2px 5px rgb(134, 134, 134);
}


.cardTitle {
  display: inline-block;
}

.wishListIcon {
  font-size: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  color: #5B9208;
}

.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #999;
  border-top-color: #333;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.pageButton {
  background-color: #c6c8c3;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  color: white;
}

.currentPage {
  background-color: #8fb94d;
}
