  a:link {
  color: #5B9208;
}

a:visited {
  color: #5B9208;
}

.navMade {
  font-weight: 500;
}

.userName {
  position: relative;
}

.logoutDropdown {
  display: none;
  position: absolute;
  background-color: rgb(91, 146, 8, 0.7);
  color: white;
  box-shadow: 1px 1px 3px black;
  height: 70px;
  width: 100px;
  border-radius: 5px;
  right: 2%;
  font-weight: 500;
  margin-top: 10px;
}

.logoutDropdown span {
  border-bottom: 1px solid black;
}

.logoutDropdownShow {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}