.topMargin {
  margin-top: 200px;
}

.description {
  width: 50%;
}

.card {
  border: none;
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: linear-gradient(to top, #ffffff, #f2f2f2);
  border-radius: 20px;
}

.product-image-zoom {
  position: absolute;
  display: none;
  margin-left: 300px;
  width: 700px;
  height: 700px;
  overflow: hidden;
  background-color: white;
}

.margineNone5 {
  margin: 5px;
}

.margineNone0 {
  margin: none;
}


.alternateImages img {
  background: linear-gradient(to top, #ffffff, #f2f2f2);
  border-radius: 20px;
}
.marginTop {
  margin-top: 160px;
  margin-bottom: 160px;
}

.descriptionArea {
  position: relative;
}

.defaultImage {
  border-radius: 20px;
  background: linear-gradient(to top, #ffffff, #f2f2f2);
}

.category {
  position: absolute;
}

.addToCartButton, .buyNowButton {
  width: 159.47px;
  height: 51px;
  background-color: #7FAD39;
  border: none;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
}

.buyNowButton {
  background-color: #AD9339;
}

.price {
  color: rgb(164, 20, 20);
}