.topMargin {
  margin-top: 200px;
}

.description {
  width: 50%;
}

.card {
  border: none;
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: linear-gradient(to top, #ffffff, #f2f2f2);
  border-radius: 20px;
}

.product-image-zoom {
  display: none;
  top: 0;
  left: 100%;
  width: 700px;
  height: 700px;
  overflow: hidden;
}

.product-image-zoom img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}


.margineNone5 {
  margin: 5px;
}

.margineNone0 {
  margin: none;
}


.alternateImages img {
  background: linear-gradient(to top, #ffffff, #f2f2f2);
  border-radius: 20px;
}